.add-note-form-container {
    margin: 10px;
    padding: 20px;
    background-color: rgb(233, 233, 233);
}

.add-note-form-container, h2 {
    margin: 10px 20px;
}

form textarea {
    height: 4.75rem;
    width: 90%;
}

.submission-button {
    font-size: 16pt;
}

.back-button {
    color: black;
    display: block;
    font-size: 14pt;
    font-weight: bold;
    margin-left: 30px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
}

.back-button {
    cursor: pointer;
}

.warning {
    font-style: italic;
    color: rgb(255, 93, 93);
}